name: Flutter Build AAB

on:
  push:
    branches:
      - Emowall-Ai-2.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.2'

      - name: Fix MainActivity
        run: |
          mkdir -p android/app/src/main/kotlin/com/emobies/emowall/
          cat > android/app/src/main/kotlin/com/emobies/emowall/MainActivity.kt << EOF
          package com.emobies.emowall

          import io.flutter.embedding.android.FlutterFragmentActivity

          class MainActivity: FlutterFragmentActivity()
          EOF

      - name: Flutter clean
        run: flutter clean

      - name: Flutter pub get
        run: flutter pub get

      - name: Build AAB
        run: flutter build appbundle --release

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: emowall-release-aab
          path: build/app/outputs/bundle/release/app-release.aab

      - name: Upload ProGuard Mapping (optional)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: proguard-mapping
          path: build/app/outputs/mapping/release/mapping.txt

      - name: Upload Native Debug Symbols (optional)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: native-debug-symbols
          path: build/app/intermediates/merged_native_libs/release/out/lib
